{% extends 'base_dashtreme.html' %}
{% block head %}
<title>Change password</title>
<style>
    .child{
        display: grid;
        place-items: center;
    }

    .panel-primary{
        width: 50%; /* Đặt giá trị width phù hợp */
        margin: 0 auto;
    }
</style>
{% endblock %}
{% block body %}
<br/>

<!-- query panel -->
    <div class=" panel panel-primary">
        <div class="panel-heading">
            Change password
        </div>
        <div id="div_oldPassword" class="container-fuid panel-body form-inline" style="background-color: #0c5f97;
        display: grid; place-items: center;">
                <div class="child">
                    <div class="">Mật khẩu cũ</div>
                    <div class="">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" id='txt_old_password' class="form-control color">
                        </div>
                    </div>
                </div>

                <div class="child">
                    <div>Mật khẩu mới</div>
                    <div class="">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" id='txt_password1' required class="form-control ">
                        </div>
                    </div>
                </div>

                <div class="child">
                    <div>Nhập lại mật khẩu mới</div>
                    <div class="">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" id='txt_password2' class="form-control">
                        </div>
                    </div>
                </div>
                <div class="text-right" style="margin-right: 10px; padding-top: 10px;">
                    <button type="submit" id="btn_change_password" class="btn btn-success btn-default"> Cập nhật</button>
                </div>

            
        </div>
    </div>
<!-- query panel end -->




{% endblock %}

{% block scripts %}
<script>

$(document).ready(function() {

    token = findGETParameter("token")
    if(token != null && token.length == 24)
    {
        $("#div_oldPassword").hide()
    }

    $("#btn_change_password").click(function() 
    {
        var oldPass = document.getElementById("txt_old_password").value
        var newPass1 = document.getElementById("txt_password1").value
        var newPass2 = document.getElementById("txt_password2").value
        
        if(newPass1 == '' || newPass2 == '')
        {
            showError("Vui lòng nhập đủ thông tin")
            return
        }

        if(newPass1 != newPass2 )
        {
            showError("Password mới không giống nhau")
            return
        }

        
        if(token == null)
            token = Cookies.get('token')
        request_data = {
                            "token": token,
                            "password": oldPass,
                            "newPassword": newPass1
                        }
        host_request = gethost() + '/api/user/changePassword'
        ajaxRequest("POST", host_request ,request_data, onChangeSuccess, genericFailCB)
    });

    function onChangeSuccess(res)
    {
        showSuccess(res["Success"])
    }
});

</script>

{% endblock %}