<link href="/static/css/home.css" rel="stylesheet">
{% extends 'base_dashtreme_full_width.html' %}
<!-- tmdt css-->
{% block head %}
<title>Trang chủ</title>
<style>
.img_blog{
    height: 100%;
}
#slide1, #slide2, #slide_blog{
    left: -100%; 
    transition: left 1.2s ease; 
    height: 495px;
}
@media all and (max-width: 1100px) {
    .slide_body{
        padding: 40px 30px;
    }
    .slide_body_blog{
        padding: 40px 30px;
    }
    .slide_body2{
        padding: 40px 30px;
    }
    .boc_img_blog{
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
}

@media all and (max-width: 1024px) {
    .nav_header_item{
        padding: 0 12px !important;
    }
}

@media all and (max-width: 800px) {
    .footer_home_item{
        width: 100%;
    }
}

@media all and (max-width: 786px) {
    .header_home_center{
        font-size: 8px;
        padding: 0 15px;
        min-height: 45px;
        justify-content: space-between;
        >div{
            width: 50%;
        }
    }
    .emty{
        display: none;
    }
    .right_center_header{
        justify-content: right;
    }
    #my_account{
        font-size: 8px;
        margin-left: 0;
    }
    .icon_account{
        border-right: 1px solid #666;
        padding-right: 15px;

        >i{
            font-size: 14px;
        }
    }
    .my_cart{
        display: none;
    }
    .icon_cart{
        margin-left: 15px;
    }
    .icon_cart_i{
        font-size: 14px;
    }
    .nav_header{
        height: 60px;  
    }
    .nav_header_list{
        width: 12%;
    }
    .nav_header_item{
        display: none;
    }
    .center_text_mobile{
        display: flex;
        align-items: center;
    }
    #btn_bars{
        display: block;
    }
}

@media all and (max-width: 486px) {
    .slide_body{
        padding: 20px 10px;
        height: 350px;
    }
    .slide_body2{
        padding: 20px 10px;
        height: 350px;
    }
    .slide_body_blog{
        padding: 20px 10px;
        height: 380px;
    }
    .slide_body_item{
        padding: 0 5px;
    }
    .slide_body_item_product_content{
        width: calc(100% - 10px);
    }
    .splide__arrow {
            display: none !important;
    }
}
</style>

{% endblock %}
{% block body %}
<div class="mobile_menu">
    <div id="logo_center">
        <img style="vertical-align: middle; width: 100px;" src="../static/img/logo.jpg"></img>
    </div>
    <div class="list_mobile_menu">
        <div id="btn_menuMobile_Home" class="item_mobile_menu">Trang chủ</div>
        <div class="item_mobile_menu">Giới thiệu</div>
        <div id="btn_showListItem" class="item_mobile_menu">Shop Online
            <span  class="icon-sub-menu"><i id="changeIcon" class="fas fa-angle-down"></i></span>
        </div>
        <div class="list_sub_menu item_mobile_menu"></div>
        <div id="btn_blogs_mobile"  class="item_mobile_menu">Blog</div>
    </div>
</div>
<div id="mobile_overplay"></div>
<div class="header_home">
    <div>
        <img class="img_top_header" src="../static/img/bg_header.jpg"></img>
    </div>

    <div class="header_home_center">
        <div class="center_text_mobile" id="div_comment">Đóng góp ý kiến</div>
        <div class="emty"></div>
        <div class="center_text_mobile">
             
        </div>
        <div class="right_center_header">
            <div class="center_text_mobile" id="my_account">Tài khoản</div>
            <div class="icon_account center_text_mobile"><i style="height:14px; width: 14px;" class="icon_cart_i far fa-user"></i></div>
            <div onclick="GotoCartPage()" style="display: flex;" class="changeCart">
                <div id="btn_cart" class="my_cart">Giỏ hàng</div>
                <div class="icon_cart"><i style="height:14px; width: 14px;" class="fas fa-shopping-cart icon_cart_i"></i></div>
                <div style="padding: 0 10px;" id="lbl_numberCart" hidden>0</div>
            </div>
        </div>
    </div> 
    
    <div class="nav_header">
        <div class="nav_header_list">
            <div class="nav_header_item">Giới thiệu</div>
            <div id="shop_online" class="nav_header_item">Shop Online
                <div class="nav_header_item_sub">
                </div>
            </div>
            <div id="btn_blogs" class="nav_header_item">Blog</div>
            <div id="btn_bars">
                <i style="font-size: 20px;" class="fa fa-bars"></i>
            </div>
        </div>
        <div id="logo" style="cursor: pointer;">
            <img class="logo" src="../static/img/logo.jpg"></img>
        </div>
        <div class="nav_header_list">
            <div class="nav_header_item" style="margin-left: auto;">Hướng dẫn mua hàng</div>
            <div id="btn_search">
                <i style="font-size: 20px;" class="fas fa-search"></i>
            </div>
        </div>
    </div>
</div>

<div class="body_home">
    <div class="body_home_title">SẢN PHẨM NỔI BẬT</div>
    <div class="body_home_title_img">
        <img src="../static/images/img-title-body.png">
    </div>
    <section id="slide1" class="splide slide_body" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
              <ul id="list_slide1" class="splide__list">
              </ul>
        </div>
    </section>

    <div class="body_home_title">GỢI Ý DÀNH RIÊNG CHO BẠN</div>
    <section id="slide2" class="splide slide_body2" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
              <ul id="list_slide2" class="splide__list">
              </ul>
        </div>
    </section>

    <div class="body_home_title">BLOG</div>
    <div class="body_home_title_img">
        <img src="../static/images/img-title-body.png">
    </div>
    <section id="slide_blog" class="splide slide_body_blog" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
              <ul id="list_blog" class="splide__list">    
              </ul>
        </div>
    </section>

    <!-- <div class="bg_body"></div> -->
    <!-- <div class="text_coming">Coming Soon</div> -->
</div>

<div class="footer_home">
    <div class="footer_home_list">
        <div class="footer_home_item">
            <div class="footer_home_item_hotline">
                <span>HOTLINE:</span>
                <a class="sdt">0896462282</a>
            </div>
            <div onclick="GotoTypePagePoliCy('bao-mat-thong-tin')" class="footer_home_item_link">Chính sách bảo mật thông tin khách hàng</div>
            <div onclick="GotoTypePagePoliCy('doi-tra-san-pham')" class="footer_home_item_link">Chính sách đổi trả sản phẩm</div>
            <div onclick="GotoTypePagePoliCy('bao-hanh')" class="footer_home_item_link">Chính sách bảo hành sản phẩm</div>
            <div onclick="GotoTypePagePoliCy('van-chuyen')" class="footer_home_item_link">Chính sách giao nhận, vận chuyển</div>
            <div onclick="GotoTypePagePoliCy('thanh-toan')" class="footer_home_item_link">Phương thức thanh toán</div>
            <div onclick="GotoTypePagePoliCy('khach-hang-than-thiet')" class="footer_home_item_link">Chính sách khách hàng thân thiết</div>
        </div>
    </div>
    <div style="width: 100%; justify-content: center; display: flex; margin-top: 20px;"><a href="https://www.facebook.com/AnQuocnT">Developed by Quốc An</a></div>
</div>

<li id="item_template" class="splide__slide slide_body_item" hidden>
    <div class="boc_img">
        <img id="img_product" class="slide_body_item_img" src="">
    </div>
    <div class="slide_body_item_product_content_size">
        <div>SIZE</div>
        <div id="lbl_productSize"></div>
    </div>
    <div class="slide_body_item_product_content">
        <div class="slide_body_item_product_content_top">
            <div id="lbl_productCode"></div>
            <div id="lbl_productPrice"></div>
        </div>
        <div id="lbl_productName" class="slide_body_item_product_content_name"> </div>
    </div>
</li>

<li id="item_template2" class="splide__slide slide_body_item" hidden>
    <div class="boc_img">
        <img id="img_product2" class="slide_body_item_img" src="">
    </div>
    <div class="slide_body_item_product_content_size">
        <div>SIZE</div>
        <div id="lbl_productSize2"></div>
    </div>
    <div class="slide_body_item_product_content">
        <div class="slide_body_item_product_content_top">
            <div id="lbl_productCode2"></div>
            <div id="lbl_productPrice2"></div>
        </div>
        <div id="lbl_productName2" class="slide_body_item_product_content_name"> </div>
    </div>
</li>

<li id="item_blog" class="splide__slide slide_body_item" hidden>
    <div class="boc_img_blog">
        <img id="img_blog" class="img_blog">
    </div>
    <div id="lbl_blogTitle" class="slide_blog_item_product_content_center"></div>
    <div id="lbl_blogContent" class="slide_blog_item_product_content_info"></div>
</li>

<div class="modal fade" id="modal_comment" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content panel-yellow" style="background-color: #ffffff;">
            <div class="modal-header panel-heading" style="background-color: #000000;">                
                <h4 class="modal-title" id="lbl_modal_title">Đóng góp ý kiến</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body panel-body" style="background-color: #ffffff; color: #222;">
                <div class="row form-group">
                   <textarea style="width: 100%; margin: 0 10px;" id="txt_content"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="pull-right">
                        <button id="btn_comment" class="btn btn-default btn-success pull-right"><span class="fa fa-product"><span>
                            Gửi</button>
                        </div>
                    </div>
                </div>
            </div> <!-- end modal body-->
        </div>
    </div>
</div>

<!-- edit modal end-->

<!-- modals end -->


{% endblock %}

{% block scripts %}
<script>
g_types = []
g_products = []
g_blogs = []
g_showItem = false
max_productSlide1 = 12
max_productSlide2 = 12
max_blogSlide = 6
g_user = null

$(document).ready(function () {
    GetTypeList()
    GetProductList()
    GetUser()
    $('#slide1').css('left', '0');
    $(window).scroll(function() {
        var elementTop2 = $('#slide2').offset().top;
        var windowBottom2 = $(window).scrollTop() + $(window).height();

        if (elementTop2 < windowBottom2) {
            $('#slide2').css('left', '0'); // Di chuyển phần tử vào màn hình
        }

        var elementTopBlog = $('#slide_blog').offset().top;
        var windowBottomBlog = $(window).scrollTop() + $(window).height();
        
        if (elementTopBlog < windowBottomBlog) {
            $('#slide_blog').css('left', '0'); // Di chuyển phần tử vào màn hình
        }
    });
});

function GetUser() 
{
    if(Cookies.get("token") == undefined) return
    request_data = {
        "token": Cookies.get("token")
    }
    host_request = gethost() + '/api/user/get'
    ajaxRequest("POST", host_request, request_data, onGetUserSuccess, genericFailCB)
}

function onGetUserSuccess(res) {
    g_user = res
    GetMyNewOrder()
}

function GetMyNewOrder() 
{
    request_data = {
        "user_pk":g_user._id.$oid
    }
    host_request = gethost() + '/api/order/getMyNew'
    ajaxRequest("POST", host_request, request_data, onGetMyNewOrderSuccess, genericFailCB)
}

function onGetMyNewOrderSuccess(res) {
    let myNewOrder = res.objects
    if(myNewOrder.length > 0){
        $("#lbl_numberCart").removeAttr('hidden')
        document.getElementById("lbl_numberCart").innerText = myNewOrder.length
        $('.changeCart').css('background-color', '#ff4136');
    }
}

function GetTypeList() {
    $('#result_table > tbody tr').remove()
    request_data = {
        "search_string": $("#txt_search").val(),
        "token": Cookies.get("token")
    }
    host_request = gethost() + '/api/type/gets'
    ajaxRequest("POST", host_request, request_data, onSearchTypeSuccess, genericFailCB)
}

function onSearchTypeSuccess(res) {
    var index = 1
    g_types = res.objects
    var parentElement = $('.nav_header_item_sub');
    var parentElementSub = $('.list_sub_menu');
    for (i = 0; i < g_types.length; i++) {
        var newItem = $('<div>').addClass('nav_header_item_sub_item').text(g_types[i].name);
        var newItemSub = $('<div>').addClass('item_sub_menu').text(g_types[i].name);
        newItem.attr("onClick", 'GotoTypePage("' + g_types[i]._id.$oid + '")');
        newItemSub.attr("onClick", 'GotoTypePage("' + g_types[i]._id.$oid + '")');
        parentElement.append(newItem);
        parentElementSub.append(newItemSub);
    }
}

function GetProductList() {
    $('#result_table > tbody tr').remove()
    request_data = {
        'all': "all",
        "token": Cookies.get("token")
    }
    host_request = gethost() + '/api/product/gets'
    ajaxRequest("POST", host_request, request_data, onSearchProductSuccess, genericFailCB)
}

function onSearchProductSuccess(res) {
    $("#list_slide1").empty()
    $("#list_slide2").empty()
    g_products = res.objects
    for (let i = 0; i < g_products.length; i++) {
        if(i + 1 > max_productSlide1) break
        let item_template = $("#item_template").clone()
        item_template.attr("onClick", 'ShowProductDetail("' + g_products[i]._id.$oid + '")')
        item_template.removeAttr('hidden')
        if(g_products[i].image != null){
            item_template.find("#img_product").attr("src",g_products[i].image) 
        }
        else if(g_products[i].imagePaths.length > 0)
        {
            if(g_products[i].imagePaths[0].includes('product'))
            {
                item_template.find("#img_product").attr("src", "/media/" + g_products[i].imagePaths[0]) 
            }
            else
            {
                item_template.find("#img_product").attr("src", "/media/" + g_products[i].imageDir + "/" + g_products[i].imagePaths[0]) 
            }
            
        }
        else{
            item_template.find("#img_product").attr("src",'../static/img/logo.jpg') 
        }
        item_template.find("#lbl_productSize").html(g_products[i].size.split(',').map(item => item.trim()).join(' '))
        item_template.find("#lbl_productCode").html(g_products[i].product_code)
        item_template.find("#lbl_productPrice").html(g_products[i].price.toLocaleString() + "đ")
        item_template.find("#lbl_productName").html(g_products[i].product_name)
        $("#list_slide1").append(item_template)
    }
    for (let i = 0; i < g_products.length; i++) {
        if(i + 1 > max_productSlide2) break
        let item_template2 = $("#item_template2").clone()
        item_template2.attr("onClick", 'ShowProductDetail("' + g_products[i]._id.$oid + '")')
        item_template2.removeAttr('hidden')
        if(g_products[i].image != null){
            item_template2.find("#img_product2").attr("src",g_products[i].image) 
        }
        else if(g_products[i].imagePaths.length > 0)
        {
            if(g_products[i].imagePaths[0].includes('product'))
            {
                item_template2.find("#img_product2").attr("src", "/media/" + g_products[i].imagePaths[0]) 
            }
            else
            {
                item_template2.find("#img_product2").attr("src", "/media/" + g_products[i].imageDir + "/" + g_products[i].imagePaths[0]) 
            } 
        }
        else{
            item_template2.find("#img_product2").attr("src",'../static/img/logo.jpg') 
        }
        item_template2.find("#lbl_productSize2").html(g_products[i].size.split(',').map(item => item.trim()).join(' '))
        item_template2.find("#lbl_productCode2").html(g_products[i].product_code)
        item_template2.find("#lbl_productPrice2").html(g_products[i].price.toLocaleString() + "đ")
        item_template2.find("#lbl_productName2").html(g_products[i].product_name)
        $("#list_slide2").append(item_template2)
    }
    var splide1 = new Splide( '#slide1', {
        type   : 'loop',
        perPage: window.innerWidth >= 1100 ? 4 : 2,
        perMove: window.innerWidth >= 1100 ? 1 : 2,
    } );
    splide1.mount();

    var splide2 = new Splide( '#slide2', {
        type   : 'loop',
        perPage: window.innerWidth >= 1100 ? 6 : 2,
        perMove: window.innerWidth >= 1100 ? 6 : 2,
    } );

    splide2.mount();

    GetBlogList()
}

function GetBlogList() {
    $('#result_table > tbody tr').remove()
    request_data = {
        "token": Cookies.get("token")
    }
    host_request = gethost() + '/api/blog/gets'
    ajaxRequest("POST", host_request, request_data, onSearchBlogSuccess, genericFailCB)
}

function onSearchBlogSuccess(res) {
    var index = 1
    g_blogs = res.objects
    for (let i = 0; i < g_blogs.length; i++) {
        if(i + 1 > max_blogSlide) break
        let item_blog = $("#item_blog").clone()
        item_blog.attr("onClick", 'ShowBlogDetail("' + g_blogs[i]._id.$oid + '")')
        item_blog.removeAttr('hidden')
        if(g_products[i].image != null){
            item_blog.find("#img_blog").attr("src",g_blogs[i].image) 
        }else{
            item_blog.find("#img_blog").attr("src",'../static/img/logo.jpg') 
        }
        item_blog.find("#lbl_blogTitle").html(g_blogs[i].title)
        item_blog.find("#lbl_blogContent").html(g_blogs[i].content)
        $("#list_blog").append(item_blog)
    }
    var splide3 = new Splide( '#slide_blog', {
        type   : 'loop',
        perPage: window.innerWidth >= 800 ? 3 : 1,
        perMove: 1,
        autoplay: true,
        interval: 4000,
    } );
    splide3.mount();
}

$("#btn_cart").click(function () {
    if(g_user == null){
        showError("Bạn chưa đăng nhập")
        setTimeout(function() {
            window.location.href = "/login";
        }, 1500)
        return
    }
    window.location.href = "/cart";
});

$("#my_account").click(function () {
    window.location.href = "/login";
});

$("#logo").click(function () {
    window.location.href = "/";
});

$("#logo_center").click(function () {
    window.location.href = "/";
});

$("#btn_blogs").click(function () {
    window.location.href = "/blogs";
});

$("#btn_blogs_mobile").click(function () {
    window.location.href = "/blogs";
});

$("#btn_bars").click(function () {
    document.getElementById("mobile_overplay").style.visibility = "visible"
    document.querySelector('.mobile_menu').classList.toggle('active');
    document.querySelector('#mobile_overplay').classList.toggle('active');
});

$("#mobile_overplay").click(function () {
    document.getElementById("mobile_overplay").style.visibility = "hidden"
    document.querySelector('.mobile_menu').classList.toggle('active');
    document.querySelector('#mobile_overplay').classList.toggle('active');
});

$("#btn_menuMobile_Home").click(function () {
    window.location.href = "/";
});

$("#btn_showListItem").click(function () {
    if(!g_showItem)
    {
        document.getElementById("changeIcon").classList.remove("fas", "fa-angle-down");
        document.getElementById("changeIcon").classList.add("fas", "fa-times");
        g_showItem = true
    }else{
        document.getElementById("changeIcon").classList.remove("fas", "fa-times");
        document.getElementById("changeIcon").classList.add("fas", "fa-angle-down");
        g_showItem = false
    }
    document.querySelector('.list_sub_menu').classList.toggle('active');
});

$("#div_comment").click(function () {
    $("#modal_comment").modal()
});

$("#btn_comment").click(function () {
    request_data = {
        "user_pk": g_user._id.$oid,
        "user_name": g_user.fullname,
        "user_phone": g_user.phone,
        "content": $("#txt_content").val(),
        "token": Cookies.get("token")
    }
    host_request = gethost() + '/api/comment/update'
    ajaxRequest("POST", host_request, request_data, onUpdateCommentSuccess, genericFailCB)
});

function onUpdateCommentSuccess(res) {
    showNotice("Cảm ơn bạn đã gửi ý kiến!")
    $("#modal_comment").modal('hide')
}

function GotoTypePage(subject_pk)
{
    g_subject_pk = subject_pk
    window.location = "/type/?pk=" + subject_pk
}

function GotoTypePagePoliCy(name)
{
    window.location = "/policy/?name=" + name
}

function ShowProductDetail(product_pk)
{
    window.location = "/product_detail/?pk=" + product_pk
}

function ShowBlogDetail(blog_pk)
{
    window.location = "/blog_detail/?pk=" + blog_pk
}

function GotoCartPage(name)
{
    if(g_user == null){
        showError("Bạn chưa đăng nhập")
        setTimeout(function() {
            window.location.href = "/login";
        }, 1500)
        return
    }
    window.location.href = "/cart";
}


</script>

{% endblock %}