{% extends 'base_dashtreme_full_width.html' %}
{% block head %}
<title>Chính sách và điều khoản sử dụng</title>
{% endblock %}
{% block body %}
<style>
    .title{
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        font-weight: 700;
        margin-top: 20px;
    }
    .content{
        padding: 20px 50px;
    }
</style>
<div style="width: 100%;;" class="row">
    <div class="title content">Chính sách bảo mật</div>
    <div class="content">Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách ứng dụng thu thập và sử dụng thông tin cá nhân của mình thông qua việc sử dụng trang ứng dụng, bao gồm mọi thông tin có thể cung cấp thông qua ứng dụng khi Quý khách đăng ký tài khoản, đăng ký nhận thông tin liên lạc từ chúng tôi.</div>
    <div class="content">Chúng tôi sử dụng thông tin cá nhân của Quý khách để liên lạc khi cần thiết liên quan đến việc Quý khách sử dụng ứng dụng của chúng tôi, để trả lời các câu hỏi hoặc gửi tài liệu và thông tin Quý khách yêu cầu.</div>
    <div class="content">Ứng dụng của chúng tôi coi trọng việc bảo mật thông tin và bảo vệ thông tin cũng như việc thanh toán của khách hàng.</div>
    <div class="content">Mọi thông tin sẽ được bảo mật ngoại trừ trong trường hợp cơ quan pháp luật yêu cầu.</div>
</div>


{% endblock %}

{% block scripts %}
<script>
</script>

{% endblock %}